body {
			margin: 0;
		}
		ul.navbar {
			position: fixed;
			top: 0;
			width: 100%;
			padding: 0;
			margin: 0;
			background-color: #333;
			list-style-type: none;
			overflow: hidden;

		}
		
		ul.navbar li {
			float: left;
    		/*border-left: 1px solid #bbb;
    		border-right: 1px solid #bbb;*/

		}
		ul.navbar li a {
			text-decoration: none;
			text-align: center;
			display: block;
			padding: 14px 16px;
			color: white;

		}
		.active:hover {
    		background-color: #111;
		}
		form {
			padding: 20px;
			margin-top: 30px;
		}
		.user {
			background-color: pink;
			color: #333;
		}
		.user:hover {
			background-color: red;
		}
		.member ul {
			margin: 10px auto;
			padding: 20px 0px;
			width: 80%;
			background-color: #3399ff;
			border-radius: 15px;
		}
		.member li {
			display: inline;
			

		}
		.member li a {
			text-decoration: none;
			text-align: center;
			padding: 0px 8%;
		}
		.ui.table {
			font-size: 1.4em;
		}
		.ui.basic.table {
			width: 70%;
			margin: auto;
		}
		h4.ui.header {
			font-size: 1.7142857rem;
		}
		h4.ui.header .sub.header {
			font-size: 1.3rem;
		}