{% load static %}
{% load extras %}
<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "semantic.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vlan.css" %}">
		
</head>
<body>

<ul class="navbar">
  <li class="main">Vlan Management</li>
  <li><a class="user" href="#User">{{ request.user }}</a></li>
  <li><a class="user" href="accounts/logout/">Logout</a></li>
</ul>
<div class="member" style="margin-top: 70px;padding: 20px;">

	<table class="ui very basic collapsing celled table">
		<thead>
			<tr>
			<th>User Name</th>
			<th>Vlan</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td class="ChangeVlan" id="{{ user }}">
					<h4 class="ui image header">
						<img src="{% static "ray.jpg" %}" class="ui rounded image">
						<div class="content">
							<div class="name">
							{{ user }}
							</div>
							<div class="sub header">{{ user.address }}
							</div>
						</div>
					</h4>
				</td>
				<td>
					vlan{{ user.vlan }}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="ui modal">
	 	<div class="header">User information</div>
	 	
	 	<div class="content">
	 		<h3>Change Vlan</h3>
			<h4 id="username">User:</h4>
	 		<p>
	 			<form class="ui form" method="post">{% csrf_token %}
	 			<div class="field">
					<input id='inputname' style="width:0px; height:0px; padding:0px; margin:0px;" type="text" name="user" value="">
	 				<label>vlan</label>
	 				<select name="vlan" class="ui fluid dropdown">
						{% for vlan in vlan_list %}
						<option value="vlan{{ vlan }}">vlan{{ vlan }}</option>
						{% endfor%}
	 				</select>
	 			</div>
	 			<div class="actions">
	 				<input type="submit" class="ui approve button"></input>
	 			</div>
	 				
	 			</form>
	 		</p>
	 	</div>
</div>


</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "vlan.js" %}"></script>
<script type="text/javascript" src="{% static "semantic.min.js" %}"></script>
</html>