{% load static %}
<!doctype html>
<html>
	<head>
		<title>Logout</title>
	</head>
	<link rel="stylesheet" type="text/css" href="{% static "./semantic.min.css"%}">

	<style type="text/css">
		body {
			background-color: #f9f9f9;
			padding-top: 16%;
		}
		form {
			text-align: center;
		}
		form h2 {
			font-size: 50px;
			margin-bottom: 20px;

		}
		
		.ui.inverted.huge.button {
			color: #ff8080;
			box-shadow: 0 0 0 2px #ff8080 inset!important;
		}
		.ui.inverted.huge.button:hover {
			background-color: #ff8080;
		}
		
		
	</style>
	<body>
		<form action="" method = "get">
			<h2>Thank You for your using!</h2>
			<button class="ui inverted orange huge button" type="submit" formaction="/accounts/login/">Login again</button>

		</form>
	</body>
</html>
