body {
			margin: 0;
		}
		ul.navbar {
			position: fixed;
			top: 0;
			width: 100%;
			padding: 0;
			margin: 0;
			background-color: #333;
			list-style-type: none;
			overflow: hidden;

		}
		
		ul.navbar li {
			float: left;
    		/*border-left: 1px solid #bbb;
    		border-right: 1px solid #bbb;*/

		}
		ul.navbar li a {
			text-decoration: none;
			text-align: center;
			display: block;
			padding: 14px 16px;
			color: white;

		}
		.active:hover {
    		background-color: #111;
		}